<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Optional Editor</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="right" th:if="${session.user}">
		<p th:text="${'Logged in as ' + session.user.username}"></p>
	</div>
	<div class="right">
		<a th:text="${session.user} ? 'Logout' : 'Login'" th:href=@{/Logout}></a>
	</div>
	<div class="right">
		<a th:href="@{/SalesReport}">Home</a>
	</div>
	
	<h1>Create an Optional</h1>
	
	<form th:action="@{/CreateOptional}">
        <label>Optional name</label>
		<input type="text" name="name" required><br>
        <label>Monthly fee</label>
		<input type="number" name="fee" min="0" step="0.01" required></input><br>
        <input type="submit" value="Confirm"></input>
	</form>
	
</body>
</html>