<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Package</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="right" th:if="${session.user}">
		<p th:text="${'Logged in as ' + session.user.username}"></p>
	</div>
	<div class="right">
		<a th:text="${session.user} ? 'Logout' : 'Login'" th:href=@{/Logout}></a>
	</div>
	<div class="right">
		<a th:href="@{/Home}">Home</a>
	</div>
	
	<h1>Order Summary</h1>
	<div>
		<p th:text="${session.order.getServicePackage().getName()}"></p>
		<ul>
			<li th:each="o : ${session.order.getOptionals()}">
				<p th:text="${o.getName()}"></p>
			</li>
		</ul>
		<p th:text="${'Total: ' + session.order.getTotal()}"></p>
	</div>
	
	<form th:action="@{/BuyPackage}">
		<input type="checkbox" name="outcome" value="TRUE">
		<button type="submit" th:text="${session.user ? 'Buy' : 'Login'}"></button>
	</form>
	

</body>
</html>