<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Package Editor</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="right">
		<a th:href=@{/Logout}>Logout</a>
	</div>
	<div class="right">
		<a th:href="@{/SalesReport}">Home</a>
	</div>
	
	<h1>Create a Package</h1>
	
	<form th:action="@{/CreatePackage}" method="POST">
        <label>Package name</label>
		<input type="text" name="name" required><br>
		
		<div class=sideBySide>
        <h3>Services:</h3>
		<div class=sideBySide>
	        <input type="checkbox" name="service" value="fixedPhone" id="fixedPhone">
	        <label for="fixedPhone">Fixed Phone</label><br>

	        <input type="checkbox" name="service" value="mobilePhone" id="mobilePhone">
	        <label for="mobilePhone">Mobile Phone</label><br>
	        <label>Minutes</label>
	        <input type="number" name="MPMinutes" min="0"><br>
	        <label>Extra minutes fee</label>
	        <input type="number" name="MPMinutesFee" min="0" step="0.01"><br>
	        <label>SMS</label>
	        <input type="number" name="MPSMS" min="0"><br>
	        <label>Extra SMS fee</label>
	        <input type="number" name="MPSMSFee" min="0" step="0.01"><br>
	        
	        <div th:if="${optionals.isEmpty()}">
        		<h3>No Optionals available</h3>
        	</div>
        
        	<div th:if="${!optionals.isEmpty()}">
        		<h3>Optionals</h3>
	        		<div th:each="o : ${optionals}">
	        			<input type="checkbox" name="optional" th:value="${o.getName()}" th:id="${o.getName()}">
	        			<label th:text="${o.getName() + ': ' + o.getMonthlyFee() + '/month'}" th:for="${o.getName()}"></label>
	        		</div>
        	</div>
        </div>

		<div class=sideBySide>
	        <input type="checkbox" name="service" value="fixedInternet" id="fixedInternet">
	        <label for="fixedInternet">Fixed Internet</label><br>
	        <label>Gigabytes</label>
	        <input type="number" name="FIGB" min="0"><br>
	        <label>Extra gigabytes fee</label>
	        <input type="number" name="FIGBFee" min="0" step="0.01"><br>

	        <input type="checkbox" name="service" value="mobileInternet" id="mobileInternet">
	        <label for="mobileInternet">Mobile Internet</label><br>
	        <label>Gigabytes</label>
	        <input type="number" name="MIGB" min="0"><br>
	        <label>Extra gigabytes fee</label>
	        <input type="number" name="MIGBFee" min="0" step="0.01"><br>
	        
	        <h3>Validy period</h3>
	        <label>Months</label>
        	<input type="number" id="months" min="0"><br>
        	<label>Fee</label>
        	<input type="number" id="fee" min="0" step="0.01"><br>
        	<button type=button onclick="addValidityPeriod()">Add validity period</button>
        </div>
        </div>
        
        <div class = sideBySide>
        <h3>Added Validity Periods</h3>
        	<table>
        		<thead>
        			<tr>
        				<th>Months</th>
        				<th>Fee</th>
        			</tr>
        		</thead>
        		<tbody id="VPTableBody">
        		</tbody>
        	</table>
        </div>
        
        <script type="text/javascript">
			function addValidityPeriod() {
			  let tbody = document.getElementById("VPTableBody");
			  let months = document.getElementById("months").value;
			  let fee = document.getElementById("fee").value;
			
			  tbody.innerHTML += 	`<tr>
			  						<td><input name="months" value=${months} ></td>
			  						<td><input name="fee" value=${fee} ></td>
			  						</tr>`;
			}
		</script>

	<div>
        <input type="submit" value="Confirm"><br>
			<div class="errorMessage">
				<p class="errorMessage" th:text="${errorMessage}"></p>
			</div>
	</div>
	</form>
	
</body>
</html>