<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Package Editor</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="right">
		<a th:href=@{/Logout}>Logout</a>
	</div>
	<div class="right">
		<a th:href="@{/SalesReport}">Home</a>
	</div>

	<h1>Create a Package</h1>

	<form th:action="@{/CreatePackage}" method="POST">
        <label>Package name</label>
		<input type="text" name="name" required><br>

        <h3>Services:</h3>
		<div class=sideBySide>
					<h3>Fixed Phone</h3><br>
	        <input type="checkbox" name="service" value="fixedPhone" id="fixedPhone">
	        <label for="fixedPhone">Fixed Phone</label><br>
		</div>

		<div class=sideBySide>
	        <h3>Mobile Phone</h3><br>
	        <label>Minutes</label>
	        <input type="number" id="minutes" name="MPMinutes" min="0"><br>
	        <label>Extra minutes fee</label>
	        <input type="number" id="extraMinFee" name="MPMinutesFee" min="0" step="0.01"><br>
	        <label>SMS</label>
	        <input type="number" id="sms" name="MPSMS" min="0"><br>
	        <label>Extra SMS fee</label>
	        <input type="number" id="extraSmsFee" name="MPSMSFee" min="0" step="0.01"><br>
					<button type=button onclick="addMobilePhone()">Add</button>
	   </div>

		<div class=sideBySide>
	        <h3>Fixed Internet</h3><br>
	        <label>Gigabytes</label>
	        <input type="number" id="fiGb" name="FIGb" min="0"><br>
	        <label>Extra gigabytes fee</label>
	        <input type="number" id="fiGbFee" name="FIGBFee" min="0" step="0.01"><br>
					<button type=button onclick="addFixedInternet()">Add</button>
		</div>

		<div class=sideBySide>
	        <h3>Mobile Internet</h3><br>
	        <label>Gigabytes</label>
	        <input type="number" id="miGb" name="MIGB" min="0"><br>
	        <label>Extra gigabytes fee</label>
	        <input type="number" id="miGbFee" name="MIGBFee" min="0" step="0.01"><br>
					<button type=button onclick="addMobileInternet()">Add</button>
	   </div>

		 <div>
			 <div class=sideBySide>
		 			<div th:if="${optionals.isEmpty()}">
			 				<h3>No Optionals available</h3>
		 			</div>

		 			<div th:if="${!optionals.isEmpty()}">
			 				<h3>Optionals</h3>
				 			<div th:each="o : ${optionals}">
					 			<input type="checkbox" name="optional" th:value="${o.getName()}" th:id="${o.getName()}">
					 			<label th:text="${o.getName() + ': ' + o.getMonthlyFee() + '/month'}" th:for="${o.getName()}"></label>
				 			</div>
			 		</div>
			</div>

			 <div class=sideBySide>
	        		<h3>Validity period</h3>
	        		<label>Months</label>
        			<input type="number" id="months" min="0"><br>
        			<label>Fee</label>
        			<input type="number" id="fee" min="0" step="0.01"><br>
        			<button type=button onclick="addValidityPeriod()">Add</button>
      		 </div>
    </div>

		<div>
		<h3>Mobile Phone</h3>
			<table>
				<thead>
					<tr>
						<th>Minutes</th>
						<th>Extra min. fee</th>
						<th>SMS</th>
						<th>Extra SMS fee</th>
					</tr>
				</thead>
				<tbody id="MPTableBody">
				</tbody>
			</table>
		</div>

		<div>
		<h3>Fixed Internet</h3>
			<table>
				<thead>
					<tr>
						<th>Gigabytes</th>
						<th>Extra GB fee</th>
					</tr>
				</thead>
				<tbody id="FITableBody">
				</tbody>
			</table>
		</div>

		<div>
		<h3>Mobile Internet</h3>
			<table>
				<thead>
					<tr>
						<th>Gigabytes</th>
						<th>Extra GB fee</th>
					</tr>
				</thead>
				<tbody id="MITableBody">
				</tbody>
			</table>
		</div>

		<div>
		<h3>Validity Periods</h3>
			<table>
				<thead>
					<tr>
						<th>Months</th>
						<th>Fee</th>
					</tr>
				</thead>
				<tbody id="VPTableBody">
				</tbody>
			</table>
		</div>

        <script type="text/javascript">
					function addMobilePhone() {
			  			let tbody = document.getElementById("MPTableBody");
			  			let minutes = document.getElementById("minutes").value;
			  			let extraMinFee = document.getElementById("extraMinFee").value;
			  			let sms = document.getElementById("sms").value;
			  			let extraSmsFee = document.getElementById("extraSmsFee").value;

			  			if(minutes != "" && extraMinFee != "" && sms != "" && extraSmsFee != ""){
			  				tbody.innerHTML += 	`<tr>
			  						<td><input class="tableInput" name="minutes" readonly value=${minutes} ></td>
			  						<td><input class="tableInput" name="extraMinFee" readonly value=${extraMinFee} ></td>
			  						<td><input class="tableInput" name="sms" readonly value=${sms} ></td>
			  						<td><input class="tableInput" name="extraSmsFee" readonly value=${extraSmsFee} ></td>
			  						</tr>`;
			  						
			  				document.getElementById("minutes").value = "";
			  				document.getElementById("extraMinFee").value = "";
			  				document.getElementById("sms").value = "";
			  				document.getElementById("extraSmsFee").value = "";
			  			}
					}
					
					function addFixedInternet() {
				  		let tbody = document.getElementById("FITableBody");
				  		let fiGb = document.getElementById("fiGb").value;
				  		let fiGbFee = document.getElementById("fiGbFee").value;

				  		if(fiGb != "" && fiGbFee != ""){
				  			tbody.innerHTML += 	`<tr>
				  						<td><input class="tableInput" name="fiGb" readonly value=${fiGb} ></td>
				  						<td><input class="tableInput" name="fiGbFee" readonly value=${fiGbFee} ></td>
				  						</tr>`;
				  						
				  			document.getElementById("fiGb").value = "";
			  				document.getElementById("fiGbFee").value = "";				
						}
					}
					
					function addMobileInternet() {
				  		let tbody = document.getElementById("MITableBody");
				  		let miGb = document.getElementById("miGb").value;
				  		let miGbFee = document.getElementById("miGbFee").value;

				  		if(miGb != "" && miGbFee != ""){
				  			tbody.innerHTML += 	`<tr>
				  						<td><input class="tableInput" name="miGb" readonly value=${miGb} ></td>
				  						<td><input class="tableInput" name="miGbFee" readonly value=${miGbFee} ></td>
				  						</tr>`;
				  						
				  			document.getElementById("miGb").value = "";
			  				document.getElementById("miGbFee").value = "";				
						}
					}
					
					function addValidityPeriod() {
				  		let tbody = document.getElementById("VPTableBody");
				  		let months = document.getElementById("months").value;
				  		let fee = document.getElementById("fee").value;

				  		if(months != "" && fee != ""){
				  			tbody.innerHTML += 	`<tr>
				  						<td><input class="tableInput" name="months" readonly value=${months} ></td>
				  						<td><input class="tableInput" name="fee" readonly value=${fee} ></td>
				  						</tr>`;
				  		
				  			document.getElementById("months").value = "";
				  			document.getElementById("fee").value = "";
				  		}				
					}
		</script>

	<br><br>
	<div>
        <input type="submit" value="Confirm"><br>
			<div class="errorMessage">
				<p class="errorMessage" th:text="${errorMessage}"></p>
			</div>
	</div>
	</form>

</body>
</html>
