<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sales Report</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="right">
		<a th:href=@{/Logout}>LogOut</a>
	</div>
	<div class="right">
		<a href="OptionalEditor">OptionalEditor</a>
	</div>
	<div class="right">
		<a href="PackageEditor">PackageEditor</a>
	</div>
	
	<br>
	<h1>Sales Report</h1>
	<br>

	<table>
		<thead>
			<tr>
				<th>Package Id</th>
				<th>Sales</th>
				<th>Sales W/O Optionals</th>
				<th>Average Optionals</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p : ${packageSales}">
				<td><a th:text="${p.getName()}"></a></td>
				<td th:text="${p.getSales()}"></td>
				<td th:text="${p.salesWithoutOptionals()}"></td>
				<td th:text="${p.averageOptionalsPerPackage()}"></td>
			</tr>
		</tbody>
	</table>

	<h1>Insolvent Users</h1>

	<div th:if="${insolventUserList == null || insolventUserList.isEmpty()}">
		<i>There are no insolvent users</i>
	</div>

	<div th:if="${insolventUserList != null && !insolventUserList.isEmpty()}">
		<table>
			<tr>
				<th>User</th>
			</tr>
			<tr th:each="insolventUser: ${insolventUserList}">
				<td th:text="${insolventUser.getUser()}"></td>
			</tr>
		</table>
	</div>
	<br>

	<h1>Suspended Orders</h1>

	<div th:if="${suspendedOrderList == null || suspendedOrderList.isEmpty()}">
		<i>There are no suspended orders</i>
	</div>

	<div th:if="${suspendedOrderList != null && !suspendedOrderList.isEmpty()}">
		<table>
			<tr>
				<th>User</th>
				<th>Order Id</th>
				<th>Amount</th>
			</tr>
			<tr th:each="suspendedOrder: ${suspendedOrderList}">
				<td th:text="${suspendedOrder.getUser()}"></td>
				<td th:text="${suspendedOrder.getId()}"></td>
				<td th:text="${suspendedOrder.getTotal()}"></td>
			</tr>
		</table>
	</div>
	<br>

	<h1>Optional Product Best Seller</h1>

	<div th:if="${bestSeller == null}">
		<i>There are no Bestseller(s) yet</i>
	</div>
	
	<div th:if="${bestSeller != null}">
		<table>
			<tr>
				<th>Optional Bestseller</th>
				<th>Sales</th>
			</tr>
			<tr th:each="b: ${bestSeller}">
				<td th:text="${b.getName()}"></td>
				<td th:text="${b.getSales()}"></td>
			</tr>
		</table>
	</div>
</body>
</html>
