<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sales Report</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="right">
		<a th:href=@{/Logout}>Logout</a>
	</div>
	<div class="right">
		<a href="OptionalEditor">OptionalEditor</a>
	</div>
	<div class="right">
		<a href="PackageEditor">PackageEditor</a>
	</div>
	
	<h1>Sales Report</h1>

	<table>
		<thead>
			<tr>
				<th>Package/Duration</th>
				<th>Sales</th>
				<th>Sales W/O Optionals</th>
				<th>Average Optionals</th>
			</tr>
		</thead>
		<tbody class="salesReport" th:each="p : ${packageSales}">
			<tr>
				<td th:text="${p.getName()}"></td>
				<td th:text="${p.getSales()}"></td>
				<td th:text="${p.salesWithoutOptionals()}"></td>
				<td th:text="${p.averageOptionalsPerPackage()}"></td>
			</tr>
			<tr th:each="v : ${p.getValidityPeriodsSales()}">
				<td th:text="${v.getMonths()}"></td>
				<td th:text="${v.getSales()}"></td>
				<td colspan=2></td>
			</tr>
		</tbody>
	</table>
	<br>
	
	<h1>Insolvent Users</h1>

	<div th:if="${insolventUserList == null || insolventUserList.isEmpty()}">
		<i>There are no insolvent users</i>
	</div>

	<div th:if="${insolventUserList != null && !insolventUserList.isEmpty()}">
		<table>
			<thead>
				<tr>
					<th>User</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="insolventUser : ${insolventUserList}">
					<td th:text="${insolventUser.getUser()}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>

	<h1>Suspended Orders</h1>

	<div th:if="${suspendedOrderList == null || suspendedOrderList.isEmpty()}">
		<i>There are no suspended orders</i>
	</div>

	<div th:if="${suspendedOrderList != null && !suspendedOrderList.isEmpty()}">
		<table>
			<thead>
				<tr>
					<th>User</th>
					<th>Order Id</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="suspendedOrder : ${suspendedOrderList}">
					<td th:text="${suspendedOrder.getUser()}"></td>
					<td th:text="${suspendedOrder.getId()}"></td>
					<td th:text="${suspendedOrder.getTotal()}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>

	<h1>Optional Product Best Seller</h1>

	<div th:if="${bestSeller == null || bestSeller.isEmpty()}">
		<i>There are no bestseller(s) yet</i>
	</div>
	
	<div th:if="${bestSeller != null && !bestSeller.isEmpty()}">
		<table>
			<thead>
				<tr>
					<th>Optional Bestseller</th>
					<th>Sales</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="b : ${bestSeller}">
					<td th:text="${b.getName()}"></td>
					<td th:text="${b.getSales()}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
