<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" type="text/css" media="all"
	href="css/mystyle.css" th:href="@{css/mystyle.css}" />
</head>
<body>
	<div class="right">
		<a href="Home">Home</a>
	</div>
	<div class="right">
		<a href="GoToEmployeeLogin">Employee Login</a>
	</div>

	<h1>Welcome</h1>

	<div class="sideBySide">
		<h3>Login</h3>
		<form action="Login" method="POST">
			<label>Username</label><br>
			<input type="text" name="username" required> <br>
			<label>Password</label><br>
			<input type="password" name="password" required><br><br>
			<input type="submit" value="Login">
			<div class="errorMessage">
				<p class="errorMessage" th:text="${errorMessageLogin}"></p>
			</div>
		</form>
	</div>

	<div class="sideBySide">
		<h3>Register</h3>
		<form action="Register" method="POST">
			<label>Username</label><br>
			<input type="text" name="username" required> <br>
			<label>E-mail address</label><br>
			<input type="email" name="email" required><br>
			<label>Password</label><br>
			<input type="password" name="password" required><br><br>
			<input type="submit" value="Register">
			<div class="errorMessage">
				<p class="errorMessage" th:text="${errorMessageRegister}"></p>
			</div>
		</form>
	</div>

</body>
</html>